# Ignore build artifacts
/target

# Ignore docker container data (to slim out the repo, and to avoid security issues)
.container-data/

# Avoid committing environment variables
.env
.env.*

# Ignore .vscode
.vscode/